@CHARSET "UTF-8";

.counter {
}

.counterLeft {
    float: left;
    width: 230px;
    margin-left: 10px;
    background-color: white;
}

#menu {
    margin-top: 20px;
}

#sidebar {
    margin-right: 10px;
}

.counterRight {
    width: 720px;
    float: left;
    margin-left: 10px;
}

.mainRightTop {
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.mainRightDown {
    padding: 20px;
    background-color: white;
}

.mainRightDown table {
    width: 98%;
}

#returnToItem {
    float: right;
    cursor: pointer;
}
