@CHARSET "UTF-8";

.indexTop {
    width: 960px;
    height: 550px;
    background-color: #FFFFFF;
    margin-left: 10px;
}
.content {
    width: 680px;
    position: relative;
    left: 260px;
    top: 10px;
    *left: 10px;/*IE7*/
}
#menu {
    width: 240px;
}
.indexDown {
    margin-top: 10px;
}

/**
 *  下左
 */

#liveAuctions {
    margin-left: 10px;
    width: 550px;
    background-color: #FFFFFF;
}
#liveAuctions h1 {
    padding: 20px;
    text-align: left;
    font-size: 36px;
}

#auctions{
}
.auction {
    width: 540px;
    float: left;
}
.auctionLeft {
    margin-left: 20px;
    width: 200px;
    float: left;
}
.auctionLeft img{
    width: 159px;
    height: 116px;
}

.auctionRight {
    width: 300px;
    float: left;
}
.auctionTitle {
    font-size: 18px;
}
.auctionsActive {
    color: white;
    background-color: #C52100;
}
/**
 *  下右邊
 */
#itemsClosing {
    margin-right: 10px;
    float: right;
    width: 400px;
    background-color: white;
}
