@CHARSET "UTF-8";
.counter {
}
/**
 *     counter 有counterLeft + counterRight
 */
.counterLeft {
    float: left;
    width: 230px;
    margin-left: 10px;
    background-color: white;
}
.counterRight {
    width: 720px;
    float: right;
    margin-right: 10px;
    background-color: white;
}
/**
 *    counterRight 有 counterRight-left + counterRight-right
 */
.counterRight-left {
    padding: 5px;
    float: left;
    width: 350px;
    background-color: white;
}
.counterRight-right {
    width: 330px;
    float: right;
    background-color: #CCCCCC;
}
.counterRight-right-empty {
    width: 325px;
    background-color: white;
}

/**
 * ===============================================================    
 */
/**
 *  左邊
 */
#menu {
    background-color: white;
    width: 220px;
}
#sidebar {
    background-color: white;
}

/**
 *  中間
 */
#itemDetail {
}
.itemLargePic > img {
    width: 350px;
}
#itemDetail img {
    cursor: pointer;
}
#itemDetail a {
    text-decoration: none;
    color: #B5121B;
}
#itemDetail a:hover {
    color: red;
}

/**
 *  大圖
 */
#itemDetail .itemLargePic img {
}
/**
 *  小圖
 */
#itemDetail .itemSmallPic img {
    width: 75px;
    height: 50px;
    padding: 2px;
}
#itemTabs a {
    color: black;
}
#itemTabs div {
    width: 300px;
    overflow: auto;
    word-wrap:normal;
}

/**
 *右邊
 */
.bidding {
    margin-left: 5px;
    margin-bottom: 5px;
}

.biddingIitem {
    font-size: 14px;
    margin-bottom: 5px;
    background-color: white;
}
.biddingIitem h2 {
    font-size: 24px;
}

.biddingProceedsBenefit {
    margin-bottom: 5px;
    background-color: white;
}

.biddingWatchQuestion {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    margin-bottom: 5px;
}
.biddingWatchQuestion div {
    width: 135px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    cursor: pointer;
}
#biddingWatchThisItem {
    float: left;
}
#biddingAskQuestion {
    float: right;
}

/**
 * detail
 */
.biddingMoreDetails {
    background-color: white;
}
.biddingMoreDetails a {
    font-size: 18px;
}
.biddingMoreDetails table {
    display: none;
}
.biddingMoreDetails h3 {
    font-size: 18px;
}
.biddingMoreDetails div {
    font-size: 14px;
}

.imgHighLight {
    background-color: red;
}

.bidNowSpan {
    font-size: 20px;
    margin-left: 10px;
    width: 130px;
    border-color: red;
    border: 1px solid red;
}
.bidNowSpan input {
    text-align: right;
}
