@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	text-align: left;
	width: 988px;
	margin: 0 auto;
	padding-top: 20px;
}

ul {
	list-style-type: none;
}

#header {
	height: 100px;
	margin-bottom: 10px;
}

#header .logo {
	width: 500px;
}

#header .logo a {
	display: block;
	width: 500px;
}

#header .logo a img {
	display: block;
	width: 500px;
	height: 67px;
}

#login {
	width: 300px;
	position: relative;
	top: -70px;
	left: 650px;
}

#menu {
	width: 230px;
	float: left;
}
#nav {
	font-size:16px;
	width: 500px;
	margin-left: 10px;
    position:relative;
    top:20px;
}
#nav ul {
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
}
#nav ul li {
	display:inline;
}
#nav ul li a {
	text-decoration:none;
	color:green;
}
#nav ul li a:hover {
	color:#f60;
}
#social {
	font-size:16px;
	width: 400px;
    position:relative;
    top:-10px;
  	left:530px; 
}
#social ul {
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
}
#social ul li {
	display:inline;
}
#social ul li a {
	text-decoration:none;
	color:green;
}
#social ul li a:hover {
	color:#f60;
}
#footer {
	clear: both;
	height: 200px;
	background-color: green;
}


