@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 12px;
    text-align: left;
    width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
}
fieldset {
    padding: 10px;
    margin: 10px;
    border: #06c solid 1px;
}
legend {
    color: #06c;
    font-weight:bold;
    font-size: 18px;
}

table {
    margin:0 auto;
    width:95%;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
thead {
    font-size: 14px;
    text-align: center;
    font-weight:bold;
}
th, td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}




#header {
    height: 100px;
    margin-bottom: 10px;
}

#header .logo {
    width: 500px;
}

#header .logo a {
    display: block;
    width: 500px;
}

#header .logo a img {
    display: block;
    width: 500px;
    height: 67px;
}

#login {
    width: 300px;
    position: relative;
    top: -70px;
    left: 650px;
}

#menu {
    width: 150px;
    float: left;
}
#content {
    width: 850px;
    float: right;
    background-color: #EEE;
    margin-bottom: 20px;
}

#footer {
    clear: both;
    height: 50px;
    background-color: #CCCCCC;
}

