@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	text-align: left;
	width: 988px;
	margin: 0 auto;
	padding-top: 20px;
}

ul {
	list-style-type: none;
}

#header {
	height: 80px;
}

#header .logo {
	width: 500px;
}

#header .logo a {
	display: block;
	width: 500px;
}

#header .logo a img {
	display: block;
	width: 500px;
	height: 67px;
}

#login {
	width: 300px;
	position: relative;
	top: -55px;
	left: 770px;
}

#loginForm {
	display: none;
}
#loginOutForm {
	position: relative;
	top: -20px;
	left: 220px;
}

.mainBody {
	margin-top: 5px;
	padding: 5px;
	background-color: #CCCCCC;
}

.top-menu {
	margin-top: 5px;
	height: 30px;
	margin-bottom: 5px;
}


#nav {
	font-size:16px;
	width: 500px;
	margin-left: 10px;
}
#nav ul {
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
}
#nav ul li {
	display:inline;
}
#nav ul li a {
	text-decoration:none;
	color:green;
}
#nav ul li a:hover {
	color:#f60;
}



#social {
	font-size:16px;
	width: 400px;
    position:relative;
    top:-30px;
  	left:530px; 
}
#social ul {
	color:green;
	height:30px;
	line-height:30px;
	text-align:left;
}
#social ul li {
	display:inline;
}
#social ul li a {
	text-decoration:none;
	color:green;
}
#social ul li a:hover {
	color:#f60;
}


#menu {
	width: 200px;
	float: left;
}
.menuToggle {
	position: relative;
	z-index: 10;
}
#footer {
	clear: both;
	height: 200px;
	background-color:#CCA; 
}


.cssButton {
    background: url("../pic/site/gradient-red-50.jpg") repeat-x scroll 0 0 #E31B23;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    line-height: 31px;
    overflow: hidden;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}
a.cssButton:hover {
	color: black;
}



.time-tag {
    background-image: url("../pic/site/clock-triangle.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 101px;
    height: 102px;
    position: absolute;
    right: -10px;
    top: 12px;
}

.rotate-clock {
    transform: rotate(46deg);
    font-size: 12px;
    right: 2px;
    top: 20px;
    position: absolute;
    width: 68px;
    text-align: center;
}
