@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

i[class^="icon-"], i[class*=" icon-"] {
    color: #B5121B;
    margin: 0 5px;
    cursor: pointer;
}
body {
    text-align: left;
    font-size: 12px;
    width: 988px;
    margin: 0 auto;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: #B5121B;
}
a:hover {
    text-decoration: none;
    color: #F00;
}

hr {
    border:none;
    border-top:
    dotted 2px black
}


.cb-corner-all, .cb-corner-top, .cb-corner-left, .cb-corner-tl {
    border-top-left-radius: 20px
}
.cb-corner-all, .cb-corner-top, .cb-corner-right, .cb-corner-tr {
    border-top-right-radius: 20px
}
.cb-corner-all, .cb-corner-bottom, .cb-corner-left, .cb-corner-bl {
    border-bottom-left-radius: 20px
}
.cb-corner-all, .cb-corner-bottom, .cb-corner-right, .cb-corner-br {
    border-bottom-right-radius: 20px;
}



#header {
    height: 80px;
}

#header .logo {
    width: 500px;
}

#header .logo a {
    display: block;
    width: 500px;
}

#header .logo a img {
    display: block;
    width: 500px;
    height: 67px;
}

#login {
    width: 300px;
    position: relative;
    top: -55px;
    left: 730px;
}
.loginLink {
    margin-left: 50px;
}

#loginForm {
    display: none;
}
#loginOutForm {
    position: relative;
    top: -20px;
    left: 220px;
}

.mainBody {
    margin-top: 5px;
    padding: 5px;
    background-color: #CCCCCC;
}

.top-menu {
    margin-top: 5px;
    height: 30px;
    margin-bottom: 5px;
}

#nav {
    font-size: 18px;
    width: 600px;
    margin-left: 10px;
}
#nav ul {
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#nav ul li {
    display: inline;
}
#nav ul li a {
    text-decoration: none;
}
#nav ul li a:hover {
}

/**
 * 社群 start
 */
.social {
    font-size: 16px;
    width: 400px;
    position: relative;
    top: -40px;
    left: 600px;
}
.sprite-social span {
    display: none;
}
.sprite-social {
    font-family: "Ave", Arial, Helvetica, sans-serif;
    position: absolute;
    right: 55px;
    top: 2px;
    font-size: 1em;
    color: #666666;
}
.sprite-social li {
    display: inline;
    float: left;
    vertical-align: middle;
    margin-left: 7px;
    color: #B5121B;
}
.sprite-social a {
    display: block;
    background-image: url(../pic/site/top_nav_sprite.png);
    background-color: transparent;
}
.sprite-social a.fb {
    height: 40px;
    width: 37px;
    background-position: 0 0;
}
.sprite-social a:hover.fb {
    background-image: url(../pic/site/top_nav_sprite.png);
    background-position: 0 47px;
    background-color: transparent;
}
.sprite-social a.tw {
    height: 40px;
    width: 36px;
    background-position: -43px 0;
}
.sprite-social a:hover.tw {
    background-image: url(../pic/site/top_nav_sprite.png);
    background-position: -43px 47px;
    background-color: transparent
}
.sprite-social a.yt {
    height: 40px;
    width: 36px;
    background-position: -86px 0;
}
.sprite-social a:hover.yt {
    background-image: url(../pic/site/top_nav_sprite.png);
    background-position: -86px 47px;
    background-color: transparent
}
.sprite-social a.tm {
    height: 40px;
    width: 36px;
    background-position: -127px 0;
}
.sprite-social a:hover.tm {
    background-image: url(../pic/site/top_nav_sprite.png);
    background-position: -127px 47px;
    background-color: transparent
}
.sprite-social .subscribeemails {
    color: #666;
    font-family: "Ave", Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 25px;
    width: 123px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid #C2B49A;
    margin-top: 7px;
    /*
     -moz-border-radius-topleft: 25px;
     -moz-border-radius-topright: 0;
     -moz-border-radius-bottomright: 0;
     -moz-border-radius-bottomleft: 25px;
     -webkit-border-top-left-radius: 25px;
     -webkit-border-top-right-radius: 0;
     -webkit-border-bottom-right-radius: 0;
     -webkit-border-bottom-left-radius: 25px;*/
    padding-top: 7px;
    height: 20px;
    padding-top: 7px;
    height: 20px;
    border-radius: 25px 0 0 25px;
}
.sprite-social input.NewEmailSubBtn {
    cursor: pointer;
    color: #FFFFFF;
    position: absolute;
    background: #666;
    height: 31px;
    width: 30px;
    right: -28px;
    margin-top: 7px;
    border: 1px solid #C2B49A;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    -webkit-border-radius: 0;
    /*
     -moz-border-radius-topleft: 0;
     -moz-border-radius-topright: 13px;
     -moz-border-radius-bottomright: 0;
     -moz-border-radius-bottomleft: 0;
     -webkit-border-top-left-radius: 0;
     -webkit-border-top-right-radius: 13px;
     -webkit-border-bottom-right-radius: 0;
     -webkit-border-bottom-left-radius: 0;
     */
    border-radius: 0 13px 0 0;
}
.sprite-social input:focus {
    outline: none;
    text-transform: none
}
.sprite-social input.NewEmailSubBtn:hover {
    background: #B5121B;
}
/*
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 .sprite-social input.NewEmailSubBtn {
 height: 34px;
 width: 30px
 }
 }*/
.sprite-social label.error {
    color: red !important;
    font-size: 10px !important;
    position: absolute !important;
    float: right !important;
    clear: both;
    top: 36px !important;
    right: -84px !important;
    width: 200px !important
}

/**
 * 左邊菜單
 */
#menu {
    font-size: 14px;
    width: 240px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#menu li {
    /*
    background-color: #F2F1EE;
    */
}
#menu .sec-sidebar-li {
    /*
    background-color: #FFFFFF;
    */
}
#menu a {
    text-decoration: none;
    color: #B5121B;
}
#menu a:hover {
    text-decoration: none;
    color: #F00;
}

.menuToggle {
    position: relative;
    z-index: 10;
}
/**
 * 底部
 */
#footer {
    clear: both;
    margin-top: 10px;
    height: 200px;
    background-color: #F3F2EF;
}
#footer div.footer-dl {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 220px;
    float: left;
    color: #B5121B;
}
#footer div.footer-dl dt {
    color: #000000;
}
#footer div.footer-dl dd {
    color: #B5121B;
}
#footer div.footer-dl dd.footer-sp {
    margin-top: 15px;
    border-top: #00686b 1px dashed;
    overflow: hidden;
    height: 1px "
}

/**
 * 其他
 */
.clearBoth {
    clear: both;
}
.inputBorderHide {
    border: 0;
    background: transparent;
}
.cssButton {
    background: url("../pic/site/gradient-red-50.jpg") repeat-x scroll 0 0 #E31B23;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    line-height: 31px;
    overflow: hidden;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}
a.cssButton:hover {
    color: black;
}
.displayNone {
    display: none;
}
