@CHARSET "UTF-8";

.item {
	width: 680px;
	height: 200px;
	float: right;
	padding: 30px; 
	margin-bottom : 20px;
	background-color: #CCC;
}
.pic {
	float:left;
	width: 250px;
	height: 200px;
}
.pic img{
	width: 250px;
	height: 200px;
}
.detail {
	float:right;
	width: 360px;
	height: 160px;
	padding:20px;
}
.detail a {
	font-size: 18px;
	color:red;
}