@CHARSET "UTF-8";

div {
	background-color: white;
}

#item {
	width: 330px;
	float: left;
	padding: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: #CCC;
}

#item .itemLargePic img {
	width: 330px;
	height: 250px;
}

#item .itemSmallPic img {
	width: 75px;
	height: 50px;
	padding: 2px;
}

#bidding {
	width: 300px;
	float: left;
	padding: 20px;
	margin-left: 20px;
	background-color: #CCC;
}

#biddingIitem {
	margin-bottom: 10px;
}

#biddingProceedsBenefit {
	height: 100px;
	margin-bottom: 10px;
}

#biddingWatchQuestion {
	line-height: 50px;
	font-size: 16px;
	color: red;
	height: 50px;
	text-align: center;
	background-color: #CCC;
}

#biddingWatchThisItem {
	cursor: pointer;
	width: 140px;
	float: left;
}

#biddingAskQuestion {
	cursor: pointer;
	width: 140px;
	float: right;
	margin-bottom: 10px;
}

#biddingMoreDetails {
	clear: both;
	padding: 10px;
}

#biddingMoreDetails dl {
	display: none;
}