@CHARSET "UTF-8";
.slideshow {
	width: 750px;
	height: 500px;
	background-color: #CCC;
	position: relative;
}

.slideshow img {
	cursor: pointer;
}

.slideshow-top {
	height: 400px;
	margin-bottom: 10px;

}
.slideshow-top .picMsg {
	width: 730px;
	height: 200px;
	font-size: 24px;
	background-color: gray;
    position: absolute;
	z-index: 1;
	left:10px;
	top: 5px;
}
/**
 * 	Bid NOW
 */
.slideshow-top .picMsg input{
	width: 100px;
	position: absolute;
	top: 150px;
	left: 600px;
}
/**
 * 	大圖片
 */
.slideshow-top img {
	width: 730px;
	height: 400px;
	padding-left: 10px;
	position: absolute;
	top: 5px;
	left: 0px;
}
/**
 * alt文字
 */
.slideshow-top .picMsg span {
	color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
/**
 * 	左右方向
 */
.slideshow-top div.direction {
	width: 100px;
	line-height: 30px;
	height: 30px;
	font-size: 18px;
	background-color: black;
	color: white;
	position: absolute;
	z-index: 1;
	left: 620px;
	top: 360px;
}
.slideshow-top div.direction i {
    padding: 10px;
	width: 30px;
	cursor: pointer;
}
.slideshow-button {
	width: 730px;
	overflow: hidden;
}

.slideshow-button ul {
	width: 9999px;
}

.slideshow-button ul li {
	height: 100%;
	float: left;
}
/**
 * 	小圖片
 */
.slideshow-button img {
	margin: 2px;
	padding: 10px;
	width: 70px;
	height: 60px;
}
.slideshow-button-click {
	background-color: red;
}


#rerunOut {
    width: 200px;
    background-color: pink;
}
#select {
}
#catcompleteDiv {
    clear: both;
}


