@CHARSET "UTF-8";
#tabs4 {
    font-size: 12px;
}
#tabs4 .ui-tabs-active a{
    color: white;
    background-color: red;
}

#tabs4>ul>li>a>span {
    border:0;
    padding:0;
    margin:0;
    font-size: 9px;
}
#tabs4>ul>li>a:hover {
    background-color:red;
    color: white;;
}

/**
 * 定位
 */
.item {
    position: relative;
}
.item>a{
    float: left;
}
.item>a>img{
    width: 85px;
    height: 60px;
}
.item>div{
    padding:20px;
}
/**
 * 先移動
 */
.item .dealhidetopborder {
    position: absolute;
    left: 270px;
    top: 10px;
}
/**
 * 微調
 */
.item .dealhidetopborder a img{
    position: absolute;
    left: 10px;
    top: 0px;
}
/**
 * 微調
 */
.item .dealhidetopborder a span {
    text-align: center;
    color: white;
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 25px;
}

.item div h3 a {
    color: red;
}


#linkAll {
    float: right;
}
#linkAll a{
    color: red;
}
#rss {
    color: red;
    float: left;
}

/**
 * XXX%字體大小
 */
#tabs4 .dealhidetopborder a span {
    font-size: 18px;
}

