@CHARSET "UTF-8";
#tabs4 {
    font-size: 12px;
}

#tabs4>ul>li>a>span {
    border:0;
    padding:0;
    margin:0;
    font-size: 9px;
}
#tabs4>ul>li>a:hover {
    background-color:red;
    color: white;;
}

.item img {
	width: 85px;
	height: 60px;
	float: left;
}
.item div {
	padding:20px;
	float: left;
}
.item hr {
	clear: both;
}

.item span a {
	float: right;
}

/**
 * 定位
 */
.item {
    position: relative;
}
/**
 * 先移動
 */
.item .dealhidetopborder {
    position: absolute;
    left: 270px;
    top: 10px;
}
/**
 * 微調
 */
.item .dealhidetopborder a img{
    position: absolute;
    left: 0px;
    top: 0px;
}
/**
 * 微調
 */
.item .dealhidetopborder a span {
    text-align: center;
    color: white;
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 25px;
}
/**
 * XXX%字體大小
 */
#tabs4 .dealhidetopborder a span {
    font-size: 18px;
}

