@CHARSET "UTF-8";

.time-tag {
    background-image: url("../pic/site/clock-triangle.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 101px;
    height: 102px;
    position: absolute;
    left: 315px;
    top: 10px;
}

.rotate-clock {
    transform: rotate(46deg);
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 50px;
}
